$black: #000000

.main-container
    // width: 500px
    // height: calc( 100vh - 60px )
    // overflow: hidden
    // background-color: #CCC
    // margin: 10px calc( 50% - 250px )
    min-width: 1080px
    background: rgb(228,231,196)
    background: linear-gradient(0deg, #d2d79b 0%, #c3c28e 50%, #a1a355 100%)

@media (max-width: 1090px)
    .main-container
        min-width: 720px
        overflow-x: hidden
    // .list-item
    //     width: 460px
    //     // height: 480px
    //     display: block   