.navigation-container
    // position: relative
    
    .navigation
        display: inline-block
        border: 3px solid blue
        position: fixed
        height: 50px
        background-color: #FFF
        top: 0
        left: 10px
        padding: 10px

        .tab
            display: inline-block
            width: 20px
            border: 1px solid green
            cursor: pointer

.list-container
    margin-left: 200px

    .list
        padding: 10px

        .list-item
            padding: 10px
            margin: 10px
            width: 810px
            display: flex
            border: 1px solid black

            a
                // float: left
                margin-right: 10px

                img
                    height: 160px

            .list-item-details
                width: 360px
                text-align: center
                color: #FFF
                font-size: 18px
                line-height: 24px

                .list-item-title
                    font-weight: bold
                    font-size: 22px
                    line-height: 48px
                    margin-top: 15px

                // .list-item-extra
                    
                // .list-item-info
                    
                // .list-item-price
                    
                