$beige: #f1f4d9;
$black: #000000;

.main-label {
    height: 5px;
    width: 460px;
    margin-left: 5px;
}

.right-section {
    width: 465px;
    height: 155px;
    margin-left: 10px;
    background-color: $beige;
    border: 1px solid $black;
}