$lightblue: #d9e6f7;
$black: #000000;
$cyan: #b4f7f6;
$lightorange: #f9e8c5;

.purchase-display-section {
    width: 825px;
    height: 300px;
    overflow-y: auto;
    background-color: $lightblue;
    border: 1px solid $black;
    margin-left: 15px;
    margin-top: 10px;
}
  
.table-mix {
    display: table;
    width: 100%;
}
  
.row-mix {
    display: table-row;
}
  
.cell-mix {
    display: table-cell;
    padding: 5px;
    border: 1px solid $black;
}
  
.row-mix:hover {
    background-color: $cyan;
    cursor: pointer;
}
  
.cell-mix-header:hover {
    background-color: $lightorange;
}