$blue: rgb(0, 123, 255);
$white: #FFFFFF;

input[type="file"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
}  

.open-button {
    border: 1px solid $blue;
    background-color: $blue;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    margin-left: 15px;
    margin-top: 10px;
}

.save-button {
    margin-left: 15px;
    margin-top: 10px;
    height: 38px;
}